@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table id="categories">
        
        <thead>
            <tr>
                <th>Id</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model.Categories)
            {
            <tr>
                <th>@item.CategoryId</th>
                <th>@item.Name</th>
            </tr>
            }

        </tbody>
    </table>
</div>
